/.gradle/
/.settings/
.classpath
.project
.factorypath
/build/
/distribute/
/gradle/
gradlew
gradlew.bat



/java/profile/deploy/
/java/haxe/

/src/main/webapp/.idea/
/bin/
/webapp/
/logs/
/_docs_/
*.launch
/.apt_generated
/webapp
